* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background: url(kennah.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
header {
    width: 100%;
    height: 50px;

} 

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

nav .logo {
    font-weight: 400;
}
nav .btn button{
    margin: 0 10px;
    width: 75px;
    height: 30px;
    border-radius: 40px;
    border: none;
    outline: none;
    transition: .5s;

}

nav .btn button .active,
nav .btn button:hover {
    background-color: aqua;
}

nav .btn button a {
    text-decoration: none;
    color: black;
}

.container {

    height: 100vh;
    text-align: center;
}

.intro {
    padding: 30vh;
    width: 100%;
    color: aqua;

}

.intro h2{
    font-weight: 700;

}

.intro p {
    padding-top: 10px;
}

@media screen and (max-width : 760px) {
    body {
        background-position: center;
    }

    .intro {
        padding: 30vh 0;
    }
    
}


